version: "3"
services: 
  postgresql:
    image: postgres:12.7
    container_name: 'postgresql'
    restart: always
    environment: 
      - POSTGRES_USER=emilio
      - POSTGRES_PASSWORD=emilio2k19
      - POSTGRES_DB=pruebas
    ports: 
      - 5432:5432
  appbackend:
    build:
      context: ./
      dockerfile: Dockerfile
    image: node
    container_name: 'appbackend'
    environment: 
      - DB_HOST=postgresql
    restart: always
    ports:
      - "3000:3000"
    depends_on: 
      - postgresql
# volumes:
#   postgresql:
#     external: false
